urlid amp
url jdbc:hsqldb:hsql://localhost/amp
username sa
password

urlid tmp
url jdbc:hsqldb:hsql://localhost/tmp
username sa
password

urlid temp
url jdbc:hsqldb:hsql://localhost/temp
username sa
password

urlid logging
url jdbc:hsqldb:hsql://localhost/logging
username sa
password

urlid temp.mysql
url jdbc:mysql://localhost/temp
username root
password password
driver com.mysql.jdbc.Driver

urlid appdb
url jdbc:mysql://localhost/appdb
username root
password password
driver com.mysql.jdbc.Driver

urlid kinesis
url jdbc:mysql://localhost/Kinesis
username root
password password
driver com.mysql.jdbc.Driver

urlid appdb@naboo
url jdbc:mysql://192.168.1.11/appdb
username appdb
password appdb
driver com.mysql.jdbc.Driver

urlid kinesis@naboo
url jdbc:mysql://192.168.1.11/Kinesis
username kinesis
password kinesis
driver com.mysql.jdbc.Driver

urlid Kinesis-XE
url jdbc:oracle:thin:@bstiles-xp:1521:XE
username kinesis
password kinesis
driver oracle.jdbc.driver.OracleDriver

urlid naboo-XE
url jdbc:oracle:thin:@192.168.1.11:1521:XE
username system
password password
driver oracle.jdbc.driver.OracleDriver

urlid naboo-XE-test
url jdbc:oracle:thin:@192.168.1.11:1521:XE
username test
password password
driver oracle.jdbc.driver.OracleDriver

urlid naboo-XE-Release
url jdbc:oracle:thin:@192.168.1.11:1521:XE
username Release
password Soya45roams
driver oracle.jdbc.driver.OracleDriver


urlid a
url jdbc:hsqldb:hsql://localhost/a
username sa
password

urlid b
url jdbc:hsqldb:hsql://localhost/b
username sa
password

urlid c
url jdbc:hsqldb:hsql://localhost/c
username sa
password

urlid d
url jdbc:hsqldb:hsql://localhost/d
username sa
password

urlid e
url jdbc:hsqldb:hsql://localhost/e
username sa
password

urlid f
url jdbc:hsqldb:hsql://localhost/f
username sa
password

urlid g
url jdbc:hsqldb:hsql://localhost/g
username sa
password

urlid h
url jdbc:hsqldb:hsql://localhost/h
username sa
password

urlid h2
url jdbc:h2:file:///Users/bstiles/iRise/Runtime/runtime-workspace1/dc/tomcat/data/database/irise-dc
username sa
password

urlid h2.tmp
url jdbc:h2:file:///Users/bstiles/iRise/Support/customer-data/database/irise-dc
username sa
password

urlid h2.tmp2
url jdbc:h2:file:///Users/bstiles/iRise/Support/customer-data/Emerson/database/irise-dc
username sa
password

urlid data
url jdbc:h2:file:///Users/bstiles/iRise/Support/fedex-name-conversion/irise-dc
username sa
password
urlid data2
url jdbc:h2:file:///Users/bstiles/iRise/Support/fedex-name-conversion/bstiles/data2/database/irise-dc
username sa
password
urlid data3
url jdbc:h2:file:///Users/bstiles/iRise/Support/fedex-name-conversion/bstiles/data3/database/irise-dc
username sa
password

urlid runtime
url jdbc:h2:file:///Users/bstiles/iRise/Runtime/runtime-workspace1/dc/tomcat/data/database/irise-dc
username sa
password

urlid fedex-20110614
url jdbc:h2:file:///Users/bstiles/iRise/Support/Customer Data/Fedex 20110614/database-copy/irise-dc
username sa
password

urlid ups-20121022
url jdbc:h2:file:///Users/bstiles/iRise/Support/Customer Data/UPS/2012-10-22/data50/database/irise-dc
username sa
password

urlid ups-20121022-fixed
url jdbc:h2:file:///Users/bstiles/iRise/Support/Customer Data/UPS/2012-10-22/FIXED-DATA/database/irise-dc
username sa
password
